[Unit]
Description=CoopDoor Serial Service

[Service]
WorkingDirectory=/home/pi/
User=pi
ExecStart=/usr/bin/python3 /home/pi/Projects/coop/serial/main.py
Restart=on-failure

[Install]
WantedBy=default.target
