:host {
  display: inline-block;
}

:host > form {
  display: inline-block;
}

:host > form > * {
  display: flex;
}

.group {
  flex-wrap: wrap;
}
.group > .group_child {
  padding: 8px 4px;
  &:not(:last-child) {
    margin-right: 12px;
  }
}

.custom-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  & > *:not(:last-child) {
    margin-right: 12px;
  }
}
